body {
	font-family:'lucida grande', tahoma, verdana, arial, sans-serif;
	font-size:11px;
}

h1 {
	font-size: 15px;
}

h2 {
	font-size: 13px;
}

a {
	color: #548dc4;
	text-decoration: none;
}

h1 a {
	font-size: 12px;
	float: right;
}

a:hover {
	text-decoration: underline;
}

img {
	border: 0;
}

.ok {
	background-color: #0a8819;
	color: white;
	padding: 5px;
}

input.invalid {
	background: red;
	color: #FDFDFD;
}

#message {
	width: 100%;
}

#edition {
	padding-top: 5px;
	width: 600px;
	border: 0px;
}

#paginator {
	font-family:  Helvetica, Arial, sans-serif;
  	margin: 10px 0;
	font-size: 12px;
	text-align: center;
	margin-bottom: 5px;
}

#paginator a { color:  #0078cc; text-decoration: none; font-size: 12px; }
#paginator a:hover { color: #000; }
#paginator a:active { color: #777; }
#paginator a:focus { outline: 1px; }

#filter {
	width: 250px;
	margin-bottom: 10px;
}

#search {
	margin-bottom: 10px;
}

#wrap {
	width: 950px;
	margin: 10px auto;
}

#barchartcontent {
	float: left;
	width: 650px;
	height: 250px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#piechartcontent {
	width: 300px;
	height: 250px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#pagecontrol {
	padding-bottom: 5px;
	float: right;
}


/* tables */
table.testgrid {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.testgrid thead tr th, table.testgrid tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.testgrid thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.testgrid tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.testgrid tbody tr.odd td {
	background-color:#F0F0F6;
}
table.testgrid thead tr .headerSortDown, table.testgrid thead tr .headerSortUp {
	background-color: #8dbdd8;
}

table.testgrid>tbody tr:hover {
	background-color: #888888;
	color: white;
}

table.testgrid>tbody tr:hover a {
	color: white;
}