
<header class="clearfix">
    <a href="#/" data-toggle-min-nav
                 class="toggle-min"
                 ><i class="fa fa-bars"></i></a>

    <!-- Logo -->
    <div class="logo">
        <a href="#/">
            <span>Spark</span>
        </a>
    </div>

    <!-- needs to be put after logo to make it working-->
    <div class="menu-button" toggle-off-canvas>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </div>

    <div class="top-nav">
        <ul class="nav-left list-unstyled">
            <li class="dropdown">
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-comment-o"></i>
                    <span class="badge badge-success">2</span>
                </a>
                <div class="dropdown-menu with-arrow panel panel-default">
                    <div class="panel-heading">
                        您有2个未读信息
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="javascript:;" class="media">
                                <span class="pull-left media-icon">
                                    <span class="round-icon sm bg-info"><i class="fa fa-comment-o"></i></span>
                                </span>
                                <div class="media-body">
                                    <span class="block">李田田给您发了一条信息。</span>
                                    <span class="text-muted">3小时之前</span>
                                </div>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="javascript:;" class="media">
                                <span class="pull-left media-icon">
                                    <span class="round-icon sm bg-danger"><i class="fa fa-comment-o"></i></span>
                                </span>
                                <div class="media-body">
                                    <span class="block">王浩给您发了一条信息</span>
                                    <span class="text-muted">9小时之前</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div class="panel-footer">
                        <a href="javascript:;">显示所有信息</a>
                    </div>
                </div>
            </li>
            <li class="dropdown">
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-bell-o nav-icon"></i>
                    <span class="badge badge-warning">2</span>
                </a>
                <div class="dropdown-menu with-arrow panel panel-default">
                    <div class="panel-heading">
                        您有2个未处理事务
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="javascript:;" class="media">
                                <span class="pull-left media-icon">
                                    <span class="round-icon sm bg-success"><i class="fa fa-bell-o"></i></span>
                                </span>
                                <div class="media-body">
                                    <span class="block">课表存在冲突</span>
                                    <span class="text-muted block">2分钟前</span>
                                </div>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="javascript:;" class="media">
                                <span class="pull-left media-icon">
                                    <span class="round-icon sm bg-info"><i class="fa fa-bell-o"></i></span>
                                </span>
                                <div class="media-body">
                                    <span class="block">文件xxx需要您的审批</span>
                                    <span class="text-muted">3小时前</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div class="panel-footer">
                        <a href="javascript:;">显示所有通知</a>
                    </div>
                </div>
            </li>
        </ul>

        <ul class="nav-right pull-right list-unstyled">
            <li class="dropdown text-normal nav-profile">
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="images/g1.jpg" alt="" class="img-circle img30_30">
                    <span class="hidden-xs">
                        <span data-i18n="曾丽娟 [教务专员]"></span>
                    </span>
                </a>
                <ul class="dropdown-menu with-arrow pull-right">
                    <li>
                        <a href="#/pages/profile">
                            <i class="fa fa-user"></i>
                            <span data-i18n="我的资料"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#/tasks">
                            <i class="fa fa-check"></i>
                            <span data-i18n="我的事务"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#/pages/signin">
                            <i class="fa fa-sign-out"></i>
                            <span data-i18n="退出登录"></span>
                        </a>
                    </li>
                </ul>
            </li>

        </ul>
    </div>

</header>
