
<div id="nav-wrapper">
    <ul id="nav"
        data-ng-controller="NavCtrl"
        data-collapse-nav
        data-slim-scroll
        data-highlight-active>
        <li><a href="#/dashboard"> <i class="fa fa-dashboard"><span class="icon-bg bg-danger"></span></i><span data-i18n="概况"></span> </a></li>
        <li class="nav-task">
            <a href="#/tasks">
                <i class="fa fa-tasks"><span class="icon-bg bg-info"></span></i><span data-i18n="事务"></span>
                <span class="badge badge-danger main-badge"
                      data-ng-show="taskRemainingCount > 0">{{taskRemainingCount}}</span>
            </a>
        </li>
        <li>
            <a href="#/table"><i class="fa fa-table"><span class="icon-bg bg-warning"></span></i><span data-i18n="课表"></span></a>
            <ul>
                <li><a href="#/overview"><i class="fa fa-caret-right"></i><span data-i18n="课表总览"></span></a></li>
                <li><a href="#/one2one"><i class="fa fa-caret-right"></i><span data-i18n="一对一排课"></span></a></li>
                <li><a href="#/class"><i class="fa fa-caret-right"></i><span data-i18n="小班排课"></span></a></li>
            </ul>
        </li>
        <li>
            <a href="#/charts"><i class="fa fa-bar-chart-o"><span class="icon-bg bg-primary-light"></span></i><span data-i18n="统计"></span></a>
            <ul>
                <li><a href="#/teacher"><i class="fa fa-caret-right"></i>教师分析</a></li>
                <li><a href="#/student"><i class="fa fa-caret-right"></i>学生分析</a></li>
                <li><a href="#/course"><i class="fa fa-caret-right"></i>课程分析</a></li>
            </ul>
        </li>
        <li>
            <a href="#/pages"><i class="fa fa-file-text-o"><span class="icon-bg bg-violet"></span></i><span data-i18n="设置"></span></a>
        </li>
    </ul>
</div>